{% extends 'base.html' %}

{% block canonical_url %}
<link rel="canonical" href="{% url 'browse' %}">
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/browse.css">
<link rel="stylesheet" href="/static/style/card.css">
<link rel="stylesheet" href="/static/style/pagination.css">
{% endblock %}

{% block content %}

<script src="/static/assets/js/filterMenu.js"></script>

<h1 id="title">Browse by Category</h1>
<div class="browse-content">



  <div class="widget user_widget_search">
    <h2>Filter By</h2>
    <form id="user_widget_search_form" class="user_widget_search_form" method="GET" action="{% url 'browse' %}">
      <div class="form-group">
        <label for="user_term">Search Term</label>
        <input type="text" name="q" value="{% if 'q' in request.GET %}{{ request.GET.q }}{% endif %}" class="form-control" id="book_search" placeholder="Title, contributor, ISBN...">
      </div>
      <div class="form-group">
        <label for="user_topic">Topic</label>
        <select name="topic_id" class="form-control custom-select" id="user_gender">
          <option></option>
          {% for topic in topics %}
            {% if 'topic_id' in request.GET and topic.id == request.GET.topic_id|add:"0" %}
            <option selected value="{{ topic.id }}">{{ topic.name }}</option>
            {% else %}
            <option value="{{ topic.id }}">{{ topic.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <imnput type="hidden" id="user_age_min" name="user_age_min" />
        <imnput type="hidden" id="user_age_max" name="user_age_max" />
      </div>
      <div class="form-group">
        <label for="user_sort">Sort</label>
        <select class="form-control custom-select" id="user_sort">
          <option>A-Z</option>
          <option>Z-A</option>
          <option>Price Ascending</option>
          <option>Price Descending</option>
          <option>Release Year</option>
          <option>Random</option>
        </select>
      </div>

      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">With cover</span>
        </label>
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Free</span>
        </label>
      </div>
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

  <ul class="cards">
    {% for book in books.object_list %}
    <li class="cards_item">
      <div class="card">
        {% if book.cover %}
        <img
          src="{{ book.cover.url }}">
        {% else %}
        <img src="/static/assets/img/placeholder.png">
        {% endif %}
        <p class="contributor">{{ book.author.name }}</p>

        <h1>{{ book.title }}</h1>

        <p class="price">{{ book.price }}</p>
        <p><a href="{% url 'product' book_id=book.id %}">View</a></p>
      </div>
    </li>
    {% endfor %}
  </ul>



</div>


<!-- Pagination -->
<div id="pagination" class="container">
  <ul class="page">



    <li class="page__btn">
      {% if books.has_previous %}
      <a href="?page={{ books.previous_page_number }}">
        <span class="fas fa fa-arrow-left">
      </a>
      {% endif %}
    </li>
    {% for page in books.paginator.page_range %}
    {% if page == books.number %}
    <li class="page__numbers active">
      <span href="?page={{ page }}">{{ page }}</span>
    </li>
    {% else %}
    <li class="page__numbers">
      <a href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="page__btn">
      {% if books.has_next %}
      <a href="?page={{ books.next_page_number }}">
        <span class="fas fa fa-arrow-right">
      </a>
      {% endif %}
    </li>
  </ul>
</div>

<!-- <li class="page__dots">...</li> -->


{% endblock %}
