{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/style/pagination.css">
<link rel="stylesheet" href="/static/style/card.css">
{% endblock %}

{% block content %}

<div id="top">
  <header>
    <h1>Book,</h1>
    <h1>Man's Best Friend.</h1>
    <h2>Over 3.000 to choose from.</h2>
    <a href="{% url "browse" %}">SHOP E-BOOKS</a>
  </header>
</div>

<h1 id="title">New In</h1>






<ul class="cards">

  <li class="cards_item">
    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/D4D03AQEOAXbtvOFuVg/profile-displayphoto-shrink_200_200/0/1674503178502?e=1693440000&v=beta&t=aDJEf2k3PH4uJIbHsNMZ6G17eX0RAgJ4NPjC0yW62Hw">
      <p class="contributor">Stelios Karabasakis</p>

      <div class="title-container">
          <h1 class="title">book.title</h1>
        </div>

      <p class="price">&euro;29,99</p>
      <p><a>View</a></p>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/D4D03AQEOAXbtvOFuVg/profile-displayphoto-shrink_200_200/0/1674503178502?e=1693440000&v=beta&t=aDJEf2k3PH4uJIbHsNMZ6G17eX0RAgJ4NPjC0yW62Hw">
      <p class="contributor">Stelios Karabasakis</p>

      <div class="title-container">
          <h1 class="title">book.title</h1>
        </div>

      <p class="price">&euro;29,99</p>
      <p><a>View</a></p>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/D4D03AQEOAXbtvOFuVg/profile-displayphoto-shrink_200_200/0/1674503178502?e=1693440000&v=beta&t=aDJEf2k3PH4uJIbHsNMZ6G17eX0RAgJ4NPjC0yW62Hw">
      <p class="contributor">Stelios Karabasakis</p>

      <div class="title-container">
          <h1 class="title">book.title</h1>
        </div>

      <p class="price">&euro;29,99</p>
      <p><a>View</a></p>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/D4D03AQEOAXbtvOFuVg/profile-displayphoto-shrink_200_200/0/1674503178502?e=1693440000&v=beta&t=aDJEf2k3PH4uJIbHsNMZ6G17eX0RAgJ4NPjC0yW62Hw">
      <p class="contributor">Stelios Karabasakis</p>

      <div class="title-container">
          <h1 class="title">book.title</h1>
        </div>

      <p class="price">&euro;29,99</p>
      <p><a>View</a></p>
    </div>
  </li>

</ul>

<!-- Pagination -->
<!-- <div id="pagination" class="container">
  <ul class="page">
      <li class="page__btn"><span class="fas fa fa-arrow-left"></span></li>
      <li class="page__numbers"> 1</li>
      <li class="page__numbers active">2</li>
      <li class="page__numbers">3</li>
      <li class="page__numbers">4</li>
      <li class="page__numbers">5</li>
      <li class="page__numbers">6</li>
      <li class="page__dots">...</li>
      <li class="page__numbers"> 10</li>
      <li class="page__btn"><span class="fas fa fa-arrow-right"></span></li>
    </ul>
  </div> -->


<h1 id="title">What We Are Reading</h1>

<ul class="cards">

  <li class="cards_item">
    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/D4D03AQEOAXbtvOFuVg/profile-displayphoto-shrink_200_200/0/1674503178502?e=1693440000&v=beta&t=aDJEf2k3PH4uJIbHsNMZ6G17eX0RAgJ4NPjC0yW62Hw">
      <p class="contributor">Stelios Karabasakis</p>

      <div class="title-container">
          <h1 class="title">book.title</h1>
        </div>

      <p class="price">&euro;29,99</p>
      <p><a>View</a></p>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/D4D03AQEOAXbtvOFuVg/profile-displayphoto-shrink_200_200/0/1674503178502?e=1693440000&v=beta&t=aDJEf2k3PH4uJIbHsNMZ6G17eX0RAgJ4NPjC0yW62Hw">
      <p class="contributor">Stelios Karabasakis</p>

      <div class="title-container">
          <h1 class="title">book.title</h1>
        </div>

      <p class="price">&euro;29,99</p>
      <p><a>View</a></p>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/D4D03AQEOAXbtvOFuVg/profile-displayphoto-shrink_200_200/0/1674503178502?e=1693440000&v=beta&t=aDJEf2k3PH4uJIbHsNMZ6G17eX0RAgJ4NPjC0yW62Hw">
      <p class="contributor">Stelios Karabasakis</p>

      <div class="title-container">
          <h1 class="title">book.title</h1>
        </div>

      <p class="price">&euro;29,99</p>
      <p><a>View</a></p>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <img
        src="https://media.licdn.com/dms/image/D4D03AQEOAXbtvOFuVg/profile-displayphoto-shrink_200_200/0/1674503178502?e=1693440000&v=beta&t=aDJEf2k3PH4uJIbHsNMZ6G17eX0RAgJ4NPjC0yW62Hw">
      <p class="contributor">Stelios Karabasakis</p>

      <div class="title-container">
          <h1 class="title">book.title</h1>
        </div>

      <p class="price">&euro;29,99</p>
      <p><a>View</a></p>
    </div>
  </li>

</ul>


<!-- Pagination -->
<!-- <div id="pagination" class="container">
    <ul class="page">
        <li class="page__btn"><span class="fas fa fa-arrow-left"></span></li>
        <li class="page__numbers"> 1</li>
        <li class="page__numbers active">2</li>
        <li class="page__numbers">3</li>
        <li class="page__numbers">4</li>
        <li class="page__numbers">5</li>
        <li class="page__numbers">6</li>
        <li class="page__dots">...</li>
        <li class="page__numbers"> 10</li>
        <li class="page__btn"><span class="fas fa fa-arrow-right"></span></li>
      </ul>
    </div> -->

{% endblock %}
